<md-toolbar color="primary" *ngIf="!isAPageWithHeaderBar()">
  <ng2-alfresco-userinfo
    class="user-profile"
    [menuPositionX]="'before'"
    [menuPositionY]="'above'">
  </ng2-alfresco-userinfo>

  <span>ADF Demo Application</span>

  <div class="app-menu--spacer"></div>

  
  <!-- Search bar -->
  <search-bar (expand)="onToggleSearch($event)"></search-bar>
  

  <a md-button data-automation-id="home" href="" routerLink="/">Home</a>
  <a md-button data-automation-id="home" href="" routerLink="/chat">Chat</a>
  <a md-button data-automation-id="files" href="" routerLink="/files">Content Services</a>
  <a md-button data-automation-id="activiti" href="" routerLink="/activiti">Process Services</a>
  <a md-button data-automation-id="login" href="" routerLink="/login">Login</a>

  <theme-picker></theme-picker>
  <button md-icon-button [mdMenuTriggerFor]="langMenu">
    <md-icon>language</md-icon>
  </button>
  <md-menu #langMenu="mdMenu">
    <button md-menu-item (click)="changeLanguage('en')">English</button>
    <button md-menu-item (click)="changeLanguage('it')">Italian</button>
    <button md-menu-item (click)="changeLanguage('ru')">Russian</button>
  </md-menu>

  <button md-icon-button [mdMenuTriggerFor]="appMenu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #appMenu="mdMenu">
    <a md-menu-item href="" routerLink="/dl-custom-sources">
      <md-icon>extension</md-icon>
      <span>DL: Custom Sources</span>
    </a>
    <a md-menu-item href="" routerLink="/form">
      <md-icon>poll</md-icon>
      <span>Form</span>
    </a>
    <a md-menu-item href="" routerLink="/form-list">
      <md-icon>library_books</md-icon>
      <span>Form List</span>
    </a>
    <a md-menu-item href="" routerLink="/settings">
      <md-icon>settings</md-icon>
      <span>Settings</span>
    </a>
    <a md-menu-item href="" routerLink="/about">
      <md-icon>info_outline</md-icon>
      <span>About</span>
    </a>
    <button md-menu-item (click)="onLogout($event)">
      <md-icon>exit_to_app</md-icon>
      <span>Logout</span>
    </button>
  </md-menu>
</md-toolbar>

<router-outlet></router-outlet>
